<div class="footer container-fluid mt-4">
    <div class="flex-container">
        <div class="item">
            <h2 class="font-brand">MoGebreel</h2>
           
        </div>
        <div class="item">
            <h3>Tools Used</h3>
            <ul>
                <li><i class="fab fa-angular"></i> Angular</li>
                <li><i class="fab fa-bootstrap"></i> Bootstrap</li>
                <li><i class="fab fa-laravel"></i> Laravel</li>
            </ul>
        </div>

        <div class="item">
            <h3>Contact Information</h3>
            <ul>
                <li>
                    <a href="https://github.com/moustafagebreel" class="link" ><i class="fab fa-github"></i> GitHub</a>
                </li>
                <li>
                    <a href="https://moustafagebreel-28318.web.app/" class="link"><i class="far fa-id-card"></i> Portfolio</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="footer-bottom">
        <p>&copy; 2023 Moustafa Gebreel @sprints. All rights reserved.</p>
    </div>
</div>
