.container-fluid {
    margin-top: 20px;
    padding: 0;
}

.muted {
    color: #777;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination-button {
    padding: 10px 15px;
    margin: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination-button:hover {
    background-color: #007bff;
    color: #fff;
}

.pagination-button.active {
    background-color: #007bff;
    color: #fff;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.product-item {
    width: calc(33.33% - 10px);
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.product-item:hover {
    transform: translateY(-5px);
}

/* إضافة أنماط إضافية حسب الحاجة */
